/* Importação de fonte - Exo 2, disponível em Google Fontes */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

/* Importação de estilizações individuais */
@import url('login.css');
@import url('index.css');
@import url('profile.css');

/* Variáveis de cores */
:root {
    /*========== Cores ==========*/
    --hue: 14;
    --first-color: hsl(var(--hue), 91%, 46%);
    --first-color-alt: hsl(var(--hue), 91%, 50%);
    --title-color: #552a0b;
    --text-color: hsl(var(--hue), 4%, 15%);
    --text-color-light: hsl(var(--hue), 4%, 45%);

    /* Background Gradiente - marrom */
    --body-color: linear-gradient(90deg, #fde8db 0%, #f8c9a7	 150%);
    --container-color: linear-gradient(136deg, #fde8db 0%, #f8c9a7 150%);
}

/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Exo 2', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
}

a {
    cursor: pointer;
    text-decoration: none;
}

header {
    background: var(--container-color);
    padding: .5rem 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    padding: 0 20px;
}

/* Logo */
.nav-logo a {
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    color: var(--title-color);
    transition: font-weight .3s ease;
}

.nav-logo a:hover {
    font-weight: 600;
}

.nav-logo h1 {
    margin: 0;
    font-size: 24px;
    margin: .8rem 0;
}

.nav-logo img {
    width: 2rem;
    padding: .5rem;
}

/* Lista de navegação */
.nav-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    transition:  0.5s ease;
    color: var(--title-color);
    transition: color .3s ease;
}

.nav-link:hover {
    color: var(--first-color);
}

/* Botão de contato */
.nav-button button {
    border: none;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background: var(--title-color);
    transition: background .3s ease;
}

.nav-button button:hover {
    background: transparent;
}

.nav-button button a {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Exo 2', sans-serif;
    cursor: pointer;
    color: var(--first-color);
    transition: color 0.3s ease;
}

.nav-button button:hover a {
    color: var(--title-color);
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

/* Conteúdo */
main {
    flex: 1 1 0;
    background: var(--body-color);
}

/* Footer */
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 2.5rem;
    background: var(--title-color);
}

.footer-rights a {
    cursor: pointer;
    color: var(--first-color);
}

@media screen and (max-width: 730px) {
    .nav-item {
        display: none;
    }

    .nav-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        border: none;
        cursor: pointer;
        background-color: transparent;
    }

    .mobile-menu-icon img {
        width: 33px;
        height: 33px;
        fill: var(--title-color);
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu li {
        margin: 0;
        padding: 0;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .nav-button {
        display: block;
        padding: 1rem;
    }

    .mobile-menu .nav-button button {
        width: 50%;
        margin: auto;
        display: block;
    }

    .open {
        display: block;
    }
}