{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <section class="login_container">
        <!--============= Título da section =============-->
        <h1 class="login_title">Login</h1>
        <!--============= Imagem de login microsft =============-->
        <div class="login_access">
            <a href="{{ auth_url }}"> <img src="../static/assets/icons/Sign_In_With_Microsoft_Button_Logo_White.svg" alt="Login Microsoft"> </a>
        </div>
    </section>
{% endblock %}
